---
layout: default
---

<!-- Start main-content -->
<div class="main-content">
	{% include heading.html %}

	<!-- Section: -->
	<section>
        <div class="container">
	        <div class="row">
	          <div class="col-md-12"> 
	            <div class="heading-line-bottom">
	              <h4 class="heading-title">OUR WORK: Linking Infrastructure, Finance, and Farms to Cashew (LIFFT-Cashew)</h4>
	            </div> 
	          </div>
	          <div class="col-md-6">
	            <div class="card effect__hover">
	              <div class="card__front layer-overlay overlay-grey" data-bg-img="/assets/img/cashew_2.jpg">
	                  <div class="card__text">
	                    <div class="display-table-parent">
	                      <div class="display-table">
	                        <div class="display-table-cell">
	                          <div class="icon-box mb-0">
	                            <a href="#" class="icon mb-0">
	                              <i class="text-white pe-7s-pin font-72"></i>
	                            </a>
	                            <h2 class="icon-box-title text-white" style="font-weight: bolder;color: white;">What is the issue?</h2>
	                          </div>
	                        </div>
	                      </div>
	                    </div>
	                  </div>
	               </div>
	              <div class="card__back layer-overlay overlay-deep"  data-bg-img="/assets/img/cashew_2.jpg" >
	                <div class="card__text">
	                  <div class="display-table-parent p-30">
	                      <div class="display-table">
	                        <div class="display-table-cell">
	                          <h3>What is the issue?</h3>
	                          <div class="separator"></div>
	                          <p style="font-size: 13px;" >The SeGaBi cashew production zone of West Africa encompasses parts of the Gambia, the Casamance region of Senegal, and most of Guinea-Bissau. This agro-ecological zone produces over 222,000 metric tons of raw cashew nut annually, however only 1.2% of raw cashew nut produced is processed locally. The weakening of the regional cashew value chain has left many farmers without economic opportunity, stagnating market infrastructure and financial services.</p>
	                        </div>
	                      </div>
	                  </div>
	                </div>
	              </div>
	            </div><!-- /flip-box -->
	          </div>
	          <div class="col-md-6">
	            <div class="card effect__hover">
	              <div class="card__front layer-overlay overlay-grey"  data-bg-img="/assets/img/cashew_27.jpg" >
	                  <div class="card__text">
	                    <div class="display-table-parent">
	                      <div class="display-table">
	                        <div class="display-table-cell">
	                          <div class="icon-box mb-0">
	                            <a href="#" class="icon mb-0">
	                              <i class="text-white pe-7s-check font-72"></i>
	                            </a>
	                            <h2 class="icon-box-title text-white" style="font-weight: bolder;color: white;">What are we proposing?</h2>
	                          </div>
	                        </div>
	                      </div>
	                    </div>
	                  </div>
	               </div>
	              <div class="card__back layer-overlay overlay-deep"  data-bg-img="/assets/img/cashew_27.jpg" >
	                <div class="card__text">
	                  <div class="display-table-parent p-30">
	                      <div class="display-table">
	                        <div class="display-table-cell">
	                            <h3>What are we proposing?</h3>
	                            <div class="separator"></div>
	                            <p style="font-size: 13px;" >Our program addresses this by developing value chain linkages necessary to support an integrated regional trade network for the cashew value chain, and enhancing the production and trade of cashews in local and international markets.</p>
	                        </div>
	                      </div>
	                  </div>
	                </div>
	              </div>
	            </div><!-- /flip-box -->
	          </div>
	          <div class="col-md-12" style="margin-top: 30px;">
	            <div class="card effect__hover">
	              <div class="card__front layer-overlay overlay-orange"  data-bg-img="/assets/img/cashew_141.jpg">
	                  <div class="card__text">
	                    <div class="display-table-parent">
	                      <div class="display-table">
	                        <div class="display-table-cell">
	                          <div class="icon-box mb-0">
	                            <a href="#" class="icon mb-0">
	                              <i class="pe-7s-rocket font-72" style="color: white;"></i>
	                            </a>
	                            <h2 class="icon-box-title text-white" style="font-weight: bolder;color: white;">What we want to achieve?</h2>
	                          </div>
	                        </div>
	                      </div>
	                    </div>
	                  </div>
	               </div>
	              <div class="card__back layer-overlay overlay-deep"  data-bg-img="/assets/img/cashew_141.jpg" >
	                <div class="card__text">
	                  <div class="display-table-parent p-30">
	                      <div class="display-table">
	                        <div class="display-table-cell">
	                          <h3>What we want to achieve?</h3>
	                          <div class="separator"></div>
	                          <p style="font-size: 13px;" >LIFFT-Cashew will create durable trade infrastructure, increase access to financial services, organize and train smallholder farmers to increase production and bargaining power, and build the capacity of local processors to add value to kernels in the SeGaBi cashew production zone. As a result, the program will benefit smallholder farmers, a range of processors, and a variety of other businesses along the cashew value chain.</p>
	                        </div>
	                      </div>
	                  </div>
	                </div>
	              </div>
	            </div><!-- /flip-box -->
	          </div>
	        </div>
        </div>
    </section>

	<section class="divider parallax layer-overlay overlay-white-8"  data-parallax-ratio="0.2" data-bg-img="/assets/img/cashew_141.jpg">
	  <div class="container">
	    <div class="row text-justify">
	      <div class="col-md-6" style="padding-right: 27px;">
	        <h1>Who we are</h1>
	        <p style="font-weight: bolder;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas doloribus facere perferendis eveniet ipsam reiciendis cumque aspernatur natus! Voluptatem laudantium totam, quia reiciendis quibusdam voluptate architecto impedit id iste rem mollitia enim reprehenderit fugit exercitationem ab placeat debitis vel excepturi molestiae laboriosam aut. Possimus expedita sint neque voluptatibus, odio, architecto, excepturi corrupti magnam sunt ipsa voluptatem consequuntur iusto quo, molestiae dolorem repudiandae. Consectetur dolorem placeat ratione eum quasi delectus, corrupti.</p>
	      </div>
	      <div class="col-md-6">
	        <h1>What we do</h1>
	        <p style="font-weight: bolder;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas doloribus facere perferendis eveniet ipsam reiciendis cumque aspernatur natus! Voluptatem laudantium totam, quia reiciendis quibusdam voluptate architecto impedit id iste rem mollitia enim reprehenderit fugit exercitationem ab placeat debitis vel excepturi molestiae laboriosam aut. Possimus expedita sint neque voluptatibus, odio, architecto, excepturi corrupti magnam sunt ipsa voluptatem consequuntur iusto quo, molestiae dolorem repudiandae. Consectetur dolorem placeat ratione eum quasi delectus, corrupti.</p>
	      </div>
	    </div>
	  </div>
	</section>
	

	<!-- Section: Volunteer -->
    <section>
      <div class="container pb-30">
      	<div class="title-separator mb-60">
	        <span class="text-uppercase font-36"> OUR TEAM</span>
		  </div>
        <div class="section-content">
          <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-3 mb-30">
              <div class="team-member">
                <div class="volunteer-thumb"> <img src="http://placehold.it/360x360" alt="" class="img-fullwidth img-responsive"> </div>
                <div class="member-info mb-20">
                  <div class="member-biography p-20">
                    <h3 class="text-white mt-0 mb-10">John Doe</h3>
                    <h5 class="text-white">COP</h5>
                  </div>
                  <div class="social-network bg-white text-center">
                    <ul class="social-icons icon-hover-theme-colored icon-circled pt-5">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 mb-30">
              <div class="team-member">
                <div class="volunteer-thumb"> <img src="http://placehold.it/360x360" alt="" class="img-fullwidth img-responsive"> </div>
                <div class="member-info mb-20">
                  <div class="member-biography p-20">
                    <h3 class="text-white mt-0 mb-10">John Doe</h3>
                    <h5 class="text-white">DCOP</h5>
                  </div>
                  <div class="social-network bg-white text-center">
                    <ul class="social-icons icon-hover-theme-colored icon-circled pt-5">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 mb-30">
              <div class="team-member">
                <div class="volunteer-thumb"> <img src="http://placehold.it/360x360" alt="" class="img-fullwidth img-responsive"> </div>
                <div class="member-info mb-20">
                  <div class="member-biography p-20">
                    <h3 class="text-white mt-0 mb-10">Jane Doe</h3>
                    <h5 class="text-white">DCOP</h5>
                  </div>
                  <div class="social-network bg-white text-center">
                    <ul class="social-icons icon-hover-theme-colored icon-circled pt-5">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 mb-30">
              <div class="team-member">
                <div class="volunteer-thumb"> <img src="http://placehold.it/360x360" alt="" class="img-fullwidth img-responsive"> </div>
                <div class="member-info mb-20">
                  <div class="member-biography p-20">
                    <h3 class="text-white mt-0 mb-10">Jane Doe</h3>
                    <h5 class="text-white">MANAGER</h5>
                  </div>
                  <div class="social-network bg-white text-center">
                    <ul class="social-icons icon-hover-theme-colored icon-circled pt-5">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 mb-30">
              <div class="team-member">
                <div class="volunteer-thumb"> <img src="http://placehold.it/360x360" alt="" class="img-fullwidth img-responsive"> </div>
                <div class="member-info mb-20">
                  <div class="member-biography p-20">
                    <h3 class="text-white mt-0 mb-10">Jane Doe</h3>
                    <h5 class="text-white">MANAGER</h5>
                  </div>
                  <div class="social-network bg-white text-center">
                    <ul class="social-icons icon-hover-theme-colored icon-circled pt-5">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 mb-30">
              <div class="team-member">
                <div class="volunteer-thumb"> <img src="http://placehold.it/360x360" alt="" class="img-fullwidth img-responsive"> </div>
                <div class="member-info mb-20">
                  <div class="member-biography p-20">
                    <h3 class="text-white mt-0 mb-10">Jane Doe</h3>
                    <h5 class="text-white">MANAGER</h5>
                  </div>
                  <div class="social-network bg-white text-center">
                    <ul class="social-icons icon-hover-theme-colored icon-circled pt-5">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 mb-30">
              <div class="team-member">
                <div class="volunteer-thumb"> <img src="http://placehold.it/360x360" alt="" class="img-fullwidth img-responsive"> </div>
                <div class="member-info mb-20">
                  <div class="member-biography p-20">
                    <h3 class="text-white mt-0 mb-10">John Doe</h3>
                    <h5 class="text-white">OFFICER</h5>
                  </div>
                  <div class="social-network bg-white text-center">
                    <ul class="social-icons icon-hover-theme-colored icon-circled pt-5">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 mb-30">
              <div class="team-member">
                <div class="volunteer-thumb"> <img src="http://placehold.it/360x360" alt="" class="img-fullwidth img-responsive"> </div>
                <div class="member-info mb-20">
                  <div class="member-biography p-20">
                    <h3 class="text-white mt-0 mb-10">John Doe</h3>
                    <h5 class="text-white">OFFICER</h5>
                  </div>
                  <div class="social-network bg-white text-center">
                    <ul class="social-icons icon-hover-theme-colored icon-circled pt-5">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
     <!-- Divider: Funfact -->
    <section class="divider parallax layer-overlay overlay-dark-6" data-bg-img="/assets/img/cashew_141.jpg" data-parallax-ratio="0.2">
      <div class="container pt-90 pb-90">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
            <div class="funfact">
              <i class="pe-7s-smile text-white-f1 mt-20 font-48 pull-left flip"></i>
              <div class="ml-60">
                <h2 class="animate-number text-white-f1 mt-0 font-48 line-bottom" data-value="5000" data-animation-duration="2000">0</h2>
                <div class="clearfix"></div>
                <h4 class="font-14 text-white-f1">FAMILIES HELPED</h4>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s">
            <div class="funfact">
              <i class="pe-7s-rocket text-white-f1 mt-20 font-48 pull-left flip"></i>
              <div class="ml-60">
                <h2 class="animate-number text-white-f1 mt-0 font-48 line-bottom" data-value="325" data-animation-duration="2500">0</h2>
                <div class="clearfix"></div>
                <h4 class="font-14 text-white-f1">ROADS REHABILITATED</h4>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="funfact">
              <i class="pe-7s-add-user text-white-f1 mt-20 font-48 pull-left flip"></i>
              <div class="ml-60">
                <h2 class="animate-number text-white-f1 mt-0 font-48 line-bottom" data-value="950" data-animation-duration="3000">0</h2>
                <div class="clearfix"></div>
                <h4 class="font-14 text-white-f1">COOPERATIVES</h4>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="funfact">
              <i class="pe-7s-global text-white-f1 mt-20 font-48 pull-left flip"></i>
              <div class="ml-60">
                <h2 class="animate-number text-white-f1 mt-0 font-48 line-bottom" data-value="100" data-animation-duration="3500">K</h2>
                <div class="clearfix"></div>
                <h4 class="font-14 text-white-f1">TONS OF CASHEW</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Events and stories -->
    <section>
      <div class="container pb-40 pb-sm-60">
        <div class="section-content">
          <div class="row">
            <div class="col-md-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
              <h3 class="mt-0 line-bottom"><span class="font-weight-300">Upcoming </span> Events</h3>
              {% for event in site.events %}
              <div class="event media mb-20 no-bg no-border">
                <div class="event-date media-left text-center flip bg-theme-colored p-20">
                  <ul>
                    <li class="font-30 text-white font-weight-600 border-bottom pb-10">{{ event.start_date | date: "%d" }}</li>
                    <li class="font-22 text-white text-uppercase">{{ event.start_date | date: "%b" }}</li>
                  </ul>
                </div>
                <div class="media-body pl-20">
                  <div class="event-content pull-left flip">
                    <h4 class="event-title media-heading font-raleway font-weight-700" style="font-size: 16px;"><a href="{{ event.title }}">{{ event.title }}</a></h4>
                    <span class="mb-10 text-gray-darkgray mr-10" style="font-size: 14px;"><i class="fa fa-clock-o mr-5 text-theme-colored"></i> at 5.00 pm - 7.30 pm</span>
                    <span class="text-gray-darkgray" style="font-size: 14px;"><i class="fa fa-map-marker mr-5"></i> {{ event.location_address }}, {{ event.location_town }}, {{ event.location_region }}, {{ event.location_country }}</span>
                    <!--<p class="mt-5" style="font-size: 14px; text-align: justify;" >{{ event.content | slice: 0, 80 }}...</p>-->
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="col-md-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
              <div class="owl-carousel-1col owl-dots-bottom-right" data-dots="true">
                {% for story in site.stories %}
                <div class="item">
                  <div class="row-fluid">
                    <div class="col-md-12 ">
                      <img src="{{ story.image }}" alt="{{ story.title }}" style="width: 530px; height: 290px;" >
                    </div>
                    <div class="col-md-12">
                      <h4 class="mb-0 text-black-666">Featured Stories:</h4>
                      <h2 class="line-bottom mt-0">{{ story.title }}</h2>
                      <!--<p class="text-justify" >{{ story.content | slice: 0, 300 }}...</p>-->
                      <div class="mt-10 mb-20">
                        <ul class="list-inline clearfix mt-10">
                          <li class="pull-left flip pr-0">Date: <span class="font-weight-700 font-">{{story.date | date: "%b %d, %y"}} </span></li>
                          <li class="text-theme-colored pull-right flip pr-0">Location: <span class="font-weight-700">{{ story.location }}</span></li>
                        </ul>
                      </div>
                      <a class="btn btn-theme-colored btn-sm" href="{{ story.url }}">Read {{ story.first_name }} {{ story.last_name }} story</a>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>
<!-- end main-content -->