---
layout: default
---
<div class="main-content">
    <!-- Section: home -->
    <section id="home" class=" layer-overlay overlay-dark-2">
      <div class="container-fluid p-0">
        <!--<div class="bg-video">
          <div id="home-video" class="video">
            <div class="player video-container" data-property="{videoURL:'tBfuHPsxjjE',containment:'#home-video',autoPlay:true, showControls:true, mute:false, volume:3, startAt:10, duration:10, opacity:1}"></div>
          </div>
        </div>-->
        
        <!-- Slider Revolution Start -->
        <div class="rev_slider_wrapper ">
          <div class="rev_slider" data-version="5.0">
            <ul>

              <!-- SLIDE 1 -->
              <li data-index="rs-1" data-transition="fadeInLeft" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="http://placehold.it/1920x1280" data-rotate="0" data-saveperformance="off" data-title="Slide 1" data-description="" style="background: rgba(17, 17, 17, 0.5);">
              
                <!-- MAIN IMAGE -->
                <img src="/assets/img/cashew_5.png"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg " data-bgparallax="10" data-no-retina style="background: rgba(17, 17, 17, 0.5);">
                
                
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme text-uppercase  bg-dark-transparent text-white font-raleway pl-30 pr-30"
                  id="rs-1-layer-1"
                
                  data-x="['center']"
                  data-hoffset="['0']"
                  data-y="['middle']"
                  data-voffset="['-90']" 
                  data-fontsize="['90']"
                  data-lineheight="['120']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:800; ">LIFFT Cashew Project 
                </div>

                <!-- <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway"
                  id="rs-2-layer-1"

                  data-x="['left']"
                  data-hoffset="['30']"
                  data-y="['middle']"
                  data-voffset="['-110']" 
                  data-fontsize="['110']"
                  data-lineheight="['120']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:700;">Our Helping
                </div>-->



                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway pl-30 pr-30"
                  id="rs-1-layer-2"

                  data-x="['center']"
                  data-hoffset="['0']"
                  data-y="['middle']"
                  data-voffset="['20']"
                  data-fontsize="['40']"
                  data-lineheight="['70']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:700; background-color: rgba(255, 87, 34, 0.65) !important;" >Linking Infrastructures and Farmers to Cashew
                </div>

                <!-- LAYER NR. 3 
                <div class="tp-caption tp-resizeme text-white text-center" 
                  id="rs-1-layer-3"

                  data-x="['center']"
                  data-hoffset="['0']"
                  data-y="['middle']"
                  data-voffset="['50']"
                  data-fontsize="['18']"
                  data-lineheight="['25']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on"
                  style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">Designed to create a more integrated and durable regional network in the Senegal, The Gambia, and Guinea-Bissau cashew production zone (SeGaBi Zone)
                </div>-->

                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme" 
                  id="rs-1-layer-4"

                  data-x="['center']"
                  data-hoffset="['0']"
                  data-y="['middle']"
                  data-voffset="['115']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on"
                  style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><a class="btn btn-border btn-white btn-flat btn-xl btn-transparent pl-20 pr-20" href="/about.html">Discover</a> 
                </div>
              </li>

              <!-- SLIDE 2 -->
              <li data-index="rs-2" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="http://placehold.it/1920x1280" data-rotate="0" data-saveperformance="off" data-title="Slide 2" data-description="">

                <!-- MAIN IMAGE -->
                <img src="/assets/img/cashew_261.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                
                
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway"
                  id="rs-2-layer-1"

                  data-x="['left']"
                  data-hoffset="['0']"
                  data-y="['middle']"
                  data-voffset="['-90']" 
                  data-fontsize="['90']"
                  data-lineheight="['120']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:800;">Helping Communities
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway pl-20 pr-20"
                  id="rs-2-layer-2"

                  data-x="['left']"
                  data-hoffset="['0']"
                  data-y="['middle']"
                  data-voffset="['20']"
                  data-fontsize="['40']"
                  data-lineheight="['70']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:700;background-color: rgba(255, 87, 34, 0.65) !important;">One Cashew at a time 
                </div>

                


                <!-- LAYER NR. 3 -
                <div class="tp-caption tp-resizeme text-white" 
                  id="rs-2-layer-3"

                  data-x="['left']"
                  data-hoffset="['35']"
                  data-y="['middle']"
                  data-voffset="['30']"
                  data-fontsize="['18']"
                  data-lineheight="['25']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on"
                  style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">Enhance the cultivation of cashews and the processing, and selling of cashew products in the local and international markets
                </div>-->

                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme" 
                  id="rs-2-layer-4"

                  data-x="['left']"
                  data-hoffset="['0']"
                  data-y="['middle']"
                  data-voffset="['115']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on"
                  style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><a class="btn btn-border btn-white btn-flat btn-lg btn-transparent pl-20 pr-20" href="/about.html">Learn more</a> 
                </div>
              </li>

              <!-- SLIDE 3 -->
              <li data-index="rs-3" data-transition="fadeInUp" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="http://placehold.it/1920x1280" data-rotate="0" data-saveperformance="off" data-title="Slide 3" data-description="">
                
                <!-- MAIN IMAGE -->
                <img src="/assets/img/cashew_14111.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway  pr-20 pl-20"
                  id="rs-3-layer-1"

                  data-x="['right']"
                  data-hoffset="['0']"
                  data-y="['middle']"
                  data-voffset="['-90']" 
                  data-fontsize="['90']"
                  data-lineheight="['120']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:600; background-color: rgba(255, 87, 34, 0.65) !important;">Volunteers
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway"
                  id="rs-3-layer-2"

                  data-x="['right']"
                  data-hoffset="['0']"
                  data-y="['middle']"
                  data-voffset="['20']"
                  data-fontsize="['40']"
                  data-lineheight="['70']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:600;">Join us
                </div>

                <!-- LAYER NR. 3 --
                <div class="tp-caption tp-resizeme text-white text-right" 
                  id="rs-3-layer-3"

                  data-x="['right']"
                  data-hoffset="['35']"
                  data-y="['middle']"
                  data-voffset="['30']"
                  data-fontsize="['14','16',20']"
                  data-lineheight="['25']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on"
                  style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">Gray eel-catfish longnose whiptail catfish smalleye squaretail queen danio unicorn fish shortnose <br>greeneye fusilier fish silver carp nibbler sharksucker tench lookdown catfish
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme" 
                  id="rs-3-layer-4"

                  data-x="['right']"
                  data-hoffset="['0']"
                  data-y="['middle']"
                  data-voffset="['115']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on"
                  style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><a class="btn btn-border btn-white btn-flat btn-xl btn-transparent pl-20 pr-20" href="/volunteer.html">Learn more</a> 
                </div>
              </li>

            </ul>
          </div>
          <!-- end .rev_slider -->
        </div>
        <!-- end .rev_slider_wrapper -->
        <script>
          $(document).ready(function(e) {
            $(".rev_slider").revolution({
              sliderType:"standard",
              sliderLayout: "auto",
              dottedOverlay: "none",
              delay: 5000,
              navigation: {
                  keyboardNavigation: "off",
                  keyboard_direction: "horizontal",
                  mouseScrollNavigation: "off",
                  onHoverStop: "off",
                  touch: {
                      touchenabled: "on",
                      swipe_threshold: 75,
                      swipe_min_touches: 1,
                      swipe_direction: "horizontal",
                      drag_block_vertical: false
                  },
                arrows: {
                  style:"zeus",
                  enable:true,
                  hide_onmobile:true,
                  hide_under:600,
                  hide_onleave:true,
                  hide_delay:200,
                  hide_delay_mobile:1200,
                  tmp:'',
                  left: {
                    h_align:"left",
                    v_align:"center",
                    h_offset:30,
                    v_offset:0
                  },
                  right: {
                    h_align:"right",
                    v_align:"center",
                    h_offset:30,
                    v_offset:0
                  }
                },
                bullets: {
                  enable:false,
                  hide_onmobile:true,
                  hide_under:600,
                  style:"metis",
                  hide_onleave:true,
                  hide_delay:200,
                  hide_delay_mobile:1200,
                  direction:"horizontal",
                  h_align:"center",
                  v_align:"bottom",
                  h_offset:0,
                  v_offset:30,
                  space:5,
                  tmp:'<span class="tp-bullet-img-wrap">  <span class="tp-bullet-image"></span></span><span class="tp-bullet-title">{{title}}</span>'
                }
              },
              responsiveLevels: [1240, 1024, 778],
              visibilityLevels: [1240, 1024, 778],
              gridwidth: [1170, 1024, 778, 480],
              gridheight: [680, 768, 960, 720],
              lazyType: "none",
              parallax: {
                  origo: "slidercenter",
                  speed: 1000,
                  levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 100, 55],
                  type: "scroll"
              },
              shadow: 0,
              spinner: "off",
              stopLoop: "on",
              stopAfterLoops: 0,
              stopAtSlide: -1,
              shuffle: "off",
              autoHeight: "off",
              fullScreenAutoWidth: "off",
              fullScreenAlignForce: "off",
              fullScreenOffsetContainer: "",
              fullScreenOffset: "0",
              hideThumbsOnMobile: "off",
              hideSliderAtLimit: 0,
              hideCaptionAtLimit: 0,
              hideAllCaptionAtLilmit: 0,
              debugMode: false,
              fallbacks: {
                  simplifyAll: "off",
                  nextSlideOnWindowFocus: "off",
                  disableFocusListener: false,
              }
            });
          });
        </script>
        <!-- Slider Revolution Ends -->

      </div>
    </section>

    <!-- Section: home-boxes -->
    <section>
      <div class="container pt-0 pb-0">
        <div class="section-content">
          <div class="row equal-height-inner home-boxes" data-margin-top="-100px">
            <div class="col-sm-12 col-md-3 pl-0 pl-sm-15 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay4">
              <div class="sm-height-auto" style="background-color: rgba(255, 87, 34, 0.80) !important;">
                <div class="text-center pt-10 pb-30">
                  <i class="flaticon-charity-shelter text-white font-64"></i>
                  <h4 class="text-uppercase mt-0"><a href="#" class="text-white">Infrastructure</a></h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 pl-0 pl-sm-15 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay1">
              <div class="sm-height-auto" style="background-color: rgba(255, 87, 34, 0.95) !important;">
                <div class="text-center pt-10 pb-30">
                  <i class="flaticon-charity-donation-box text-white font-64"></i>
                  <h4 class="text-uppercase mt-0"><a href="#" class="text-white">Access to Finance</a></h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 pl-0 pl-sm-15 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay2">
              <div class="sm-height-auto" style="background-color: rgba(255, 87, 34, 0.80) !important;">
                <div class="text-center pt-10 pb-30">
                  <i class="flaticon-charity-supportive-hands text-white font-64"></i>
                  <h4 class="text-uppercase mt-0"><a href="#" class="text-white">Market Access</a></h4>
                </div>
              </div>
            </div>
            
            <div class="col-sm-12 col-md-3 pl-0 pl-sm-15 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay3">
              <div class="sm-height-auto" style="background-color: rgba(255, 87, 34, 0.95) !important;">
                <div class="text-center pt-10 pb-30">
                  <i class="flaticon-charity-hand-holding-a-stalk text-white font-64"></i>
                  <h4 class="text-uppercase mt-0"><a href="#" class="text-white">On-farm practices</a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-6" style="padding-left: 0px; padding-right: 45px;">
              <div class="section-title">
                <h3 class="sub-title both-side-line" style="margin-left: 40px;">LIFFT-Cashew Project</h3>
                <h3 class="title">Linking Infrastructure, Finance and Farms to Cashew</h3>
              </div>
              <p style="font-size: 17px; font-family: 'Vinyl', sans-serif; text-align: justify;">This is a 6-year program (2017-2023) funded by USDA to enhance the production and trade of cashews in local and international markets. The target areas are the cashew growing regions of Senegal, The Gambia and Guinea-Bissau.</p>
              <div class="">
                <h5 class="mt-15" style="font-size: 17px; font-family: 'Vinyl', sans-serif; text-align: justify;">The project works around three objectives which are:</h5>
                <ul class="list-icon theme-colored square">
                  <li style="font-size: 14px; font-family: 'Vinyl', sans-serif; text-align: justify;"><i class="fa fa-hand-o-right"></i>Production of RCN: Increase or maintain quality of RCN outturn in 52-54 lbs;</li>
                  <li style="font-size: 14px; font-family: 'Vinyl', sans-serif; text-align: justify;"><i class="fa fa-hand-o-right"></i>Sales of RCN: Strengthen associations /cooperatives and sale up to 50% of RCN produced through them by organizing collective sales;</li>
                  <li style="font-size: 14px; font-family: 'Vinyl', sans-serif; text-align: justify;"><i class="fa fa-hand-o-right"></i>Processing of RCN: Increase processing of RCN to additional 30000 tons of RCN locally.</li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 pr-0">
              <div class="thumb">
                <img class="img-fullwidth" src="/assets/img/cashew_2.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: -->
    <section class="parallax layer-overlay  overlay-dark-7" data-bg-img="/assets/img/event_12.jpg">
      <div class="container pb-30">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="mt-0 line-height-1 text-uppercase font-28 text-white">what we do</h2>
              <h4 class="lead text-white">These objectives are implemented by four components working in perfect synergy</h4>
            </div>
          </div>
        </div>
        
        <div class="section-content">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pb-sm-20">
              <div class="icon-box icon-box-effect p-15 bg-light border-bottom-3px" style="width: 360px; height: 170px;">
                <a href="#" class="icon mb-0 mr-0 pull-left flip">
                  <i class="flaticon-charity-shelter text-theme-colored font-40"></i>
                </a>
                <div class="ml-80">
                  <h5 class="icon-box-title mt-15 mb-5 line-bottom"><strong>Infrastructure</strong></h5>
                  <p class="text-gray">More than 130 kilometers of roads built</p>
                </div>
              </div>
              <div class="icon-box icon-box-effect p-15 bg-light border-bottom-3px" style="width: 360px; height: 170px;">
                <a href="#" class="icon mb-0 mr-0 pull-left flip">
                  <i class="flaticon-charity-donation-box text-theme-colored font-40"></i>
                </a>
                <div class="ml-80">
                  <h5 class="icon-box-title mt-15 mb-5 line-bottom"><strong> Access to finance</strong></h5>
                  <p class="text-gray">Facilitating private investment and loans between loans and the cashew sector</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pb-sm-20">
              <div class="icon-box icon-box-effect p-15 bg-light border-bottom-3px" style="width: 360px; height: 170px;">
                <a href="#" class="icon mb-0 mr-0 pull-left flip">
                  <i class="flaticon-charity-supportive-hands text-theme-colored font-40"></i>
                </a>
                <div class="ml-80">
                  <h5 class="icon-box-title mt-15 mb-5 line-bottom"><strong>Market Access</strong></h5>
                  <p class="text-gray">Organizing collective sales and commercialization</p>
                </div>
              </div>
              <div class="icon-box icon-box-effect p-15 bg-light border-bottom-3px" style="width: 360px; height: 170px;">
                <a href="#" class="icon mb-0 mr-0 pull-left flip">
                  <i class="flaticon-charity-hand-holding-a-stalk text-theme-colored font-40"></i>
                </a>
                <div class="ml-80">
                  <h5 class="icon-box-title mt-15 mb-5 line-bottom"><strong>On-Farm Practices</strong></h5>
                  <p class="text-gray">Improving the quality of cashews and introducing organic certification</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pb-sm-30">
              <div class="image-box-thum">
                <img class="img-fullwidth" alt="" src="/assets/img/event_12.jpg">
              </div>
              <h5 class="mb-5 text-white text-justify"><em>The integration of the three governments (Senegal, The Gambia and Guinea Bissau) remains one of the major priorities for the sustainability of the activities implemented. <a class="font-14 text-theme-colored font-weight-600" href="/about.html">Read more..</a></em></h5>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: blog -->
    <section id="blog">
      <div class="container pb-30">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
              <h2 class="mt-0 line-height-1 text-center text-uppercase font-28">Latest <span class="text-theme-colored font-weight-400">News</span></h2>
              
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row">
            {% for post in site.posts limit:3 %}
            <div class="col-sm-4 col-md-4 col-lg-4" style="visibility: visible;">
              <article class="post clearfix maxwidth600 bg-lightest mb-30">
                <div class="entry-header">
                  <div class="post-thumb thumb" style="width: 360px; height: 240px;"> <img src="{{ post.image }}" alt="{{ post.title }}" class="img-responsive img-fullwidth" > </div>
                  <div class="entry-meta meta-absolute text-center p-15">
                    <div class="display-table">
                      <div class="display-table-cell">
                        <ul>
                          <li><a href="#">{{ post.publication_date | date: '%b' }}</a></li>
                          <li><a href="#">{{ post.publication_date | date: '%d' }}</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="entry-content border-1px p-20">
                  <h3 class="entry-title mt-0 pt-0 text-uppercase" style="height: 80px;"><a href="#">{{ post.title }}</a></h3>
                  <!--<ul class="list-inline entry-date font-12 mt-5">
                    <li><i class="fa fa-clock-o mr-5"></i> {{ post.author }} </li>
                    <li><i class="fa fa-map-marker mr-5"></i> {{ post.location_t }}, {{ post.location_c }} </li>
                  </ul>-->
                  <!--<p class="mb-20 mt-15 font-13">{{ post.content | slice: 0, 100 }}...</p>-->
                  <a class="mt-10 text-theme-colored" href="{{ post.url }}">Read more <i class="fa fa-angle-double-right"></i></a>
                </div>
              </article>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>

    <!-- Section: COVID 19 -->
    <section class="divider parallax layer-overlay overlay-dark-7" data-bg-img="/assets/img/covid19.jpg" data-parallax-ratio="0.2">
      <div class="container pt-90 pb-90">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="text-white">COVID-19 impact on the cashew value chain</h1>
              <p class="lead text-white" style="text-align: justify;">In the first few months of a normal year, over 55% of all cashews would be harvested by farmers in West Africa, dried and shipped in raw form to Asian processors before being sold to consumers worldwide. But this year, the pandemic was hitting the sector just as West Africa’s cashew marketing season was meant to kick off.</p>
            <div class="progress-item mt-0">
              <div class="progress mb-0">
                <div class="progress-bar" data-percent="55"></div>
              </div>
            </div>
            <div class="row mt-20">
              <div class="col-xs-6 col-md-6 text-left text-white">
                This Year: 110 MT
              </div>
              <div class="col-xs-6 col-md-6 text-right text-white">
                Last Year: 200 MT
              </div>
            </div>
            <a style="transition: none 0s ease 0s ; line-height: 16px; border-width: 0px; padding: 8px 20px; letter-spacing: 1px; font-weight: 400; font-size: 13px;" class="btn btn-default btn-circled btn-transparent pl-20 pr-20 bg-white text-black mt-30" href="https://www.reuters.com/article/us-health-coronavirus-africa-cashew-idUSKBN23J15R" target="blank">More information</a>
          </div>
        </div>
      </div>
    </section>  

    
    <!-- Section: Events and stories -->
    <section>
      <div class="container pb-40 pb-sm-60">
        <div class="section-content">
          <div class="row">
            <div class="col-md-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
              <h3 class="mt-0 line-bottom"><span class="font-weight-300">Upcoming </span> Events</h3>
              {% for event in site.events %}
              <div class="event media mb-20 no-bg no-border">
                <div class="event-date media-left text-center flip bg-theme-colored p-20">
                  <ul>
                    <li class="font-30 text-white font-weight-600 border-bottom pb-10">{{ event.start_date | date: "%d" }}</li>
                    <li class="font-22 text-white text-uppercase">{{ event.start_date | date: "%b" }}</li>
                  </ul>
                </div>
                <div class="media-body pl-20">
                  <div class="event-content pull-left flip">
                    <h2 class="event-title media-heading font-raleway font-weight-550"><a href="{{ event.title }}">{{ event.title }}</a></h2>
                    <span class="mb-10 text-gray-darkgray mr-10" style="font-size: 14px;"><i class="fa fa-clock-o mr-5 text-theme-colored"></i> at 5.00 pm - 7.30 pm</span>
                    <span class="text-gray-darkgray" style="font-size: 14px;"><i class="fa fa-map-marker mr-5"></i> {{ event.location_address }}, {{ event.location_town }}, {{ event.location_region }}, {{ event.location_country }}</span>
                    <!--<p class="mt-5" style="font-size: 14px; text-align: justify;" >{{ event.content | slice: 0, 80 }}...</p>-->
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="col-md-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
              <div class="owl-carousel-1col owl-dots-bottom-right  bg-lighter" data-dots="true">
                {% for story in site.stories %}
                <div class="item">
                  <div class="row-fluid">
                    <div class="col-md-12" style="padding-right: 0px; padding-left: 0px;">
                      <img src="{{ story.image }}" alt="{{ story.title }}" style="width: 555px; height: 290px; margin-bottom: 15px;" >
                    </div>
                    <div class="col-md-12 pb-30">
                      <h2 class="line-bottom mt-0">Featured Stories: {{ story.title }}</h2>
                      <!--<p class="text-justify" >{{ story.content | slice: 0, 300 }}...</p>
                      <div class="mt-10 mb-20">
                        <ul class="list-inline clearfix">
                          <li class="pull-left flip pr-0">Date: <span class="font-weight-700 font-">{{story.date | date: "%b %d, %y"}} </span></li>
                          <li class="text-theme-colored pull-right flip pr-0">Location: <span class="font-weight-700">{{ story.location }}</span></li>
                        </ul>
                      </div>-->
                      <a class="btn btn-theme-colored btn-sm text-uppercase" href="{{ story.url }}">Read {{ story.first_name }} {{ story.last_name }} story</a>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<!-- Section: Divider
    <section class="divider parallax layer-overlay overlay-dark-7" data-bg-img="/assets/img/cashew_141.jpg">
      <div class="container pt-0 pb-0">
        <div class="section-content">
          <div class="row equal-height-inner">
            <div class="col-md-8 sm-height-auto">
              <div class="p-50 p-sm-20 pt-sm-40 bg-light-transparent">
                <h2 class="title mt-0 line-bottom line-bg-white text-black-222 text-uppercase">Why People Choose Us</h2>
                <div class="items mb-30">
                  <div class="icon-box p-0">
                    <a href="#" class="icon mb-0 mr-0 pull-left">
                      <i class="flaticon-charity-hands-with-hearts text-theme-colored font-50"></i>
                    </a>
                    <div class="ml-80">
                      <h4 class="icon-box-title">The Problem</h4>
                      <p class="text-black-333">This agro-ecological zone produces over 222,000 metric tons of raw cashew nut annually, however only 1.2% of raw cashew nut produced is processed locally. The weakening of the regional cashew value chain has left many farmers without economic opportunity, stagnating market infrastructure and financial services.</a></p>
                      
                    </div>
                  </div>
                </div>
                <div class="items mb-30">
                  <div class="icon-box p-0">
                    <a href="#" class="icon mb-0 mr-0 pull-left">
                      <i class="flaticon-charity-responsible-energy-use text-theme-colored font-50"></i>
                    </a>
                    <div class="ml-80">
                      <h4 class="icon-box-title">The Solution</h4>
                      <p class="text-black-333">Our program addresses this by developing value chain linkages necessary to support an integrated regional trade network for the cashew value chain, and enhancing the production and trade of cashews in local and international markets.</p>
                      <br>
                      <a class="btn btn-colored btn-sm btn-theme-colored" href="/about.html">Read more</a>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

      

    <!-- Section: Indicators--
    <section>
      <div class="container pb-sm-10">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="mt-0 line-height-1 text-uppercase font-28">Latest <span class="text-theme-colored font-weight-400">indicators</span></h2>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisici elit. Illo, laudantium, accusantium impedit magnam nobis</p>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row mtli-row-clearfix">
            {% for indicator in site.indicators %}
            <div class="col-sm-4 col-md-4 col-lg-4 wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="10">
              <div class="causes bg-lighter maxwidth500 mb-sm-30">
                <div class="thumb">
                  <img class="img-fullwidth" alt="{{ indicator.title }}" src="{{ indicator.image }}">
                </div>
                <div class="progress-item mt-0">
                  <div class="progress mb-0">
                    <div class="progress-bar" data-percent="60"></div>
                  </div>
                </div>
                <div class="causes-details clearfix border-bottom p-15 pt-10">
                  <h4><a href="#">{{ indicator.title }}</a></h4>
                  <p>{{ indicator.subtitle }}</p>
                  <ul class="list-inline clearfix mt-20">
                    <li class="pull-left flip pr-0">Result: <span class="font-weight-700">{{ indicator.result }}</span></li>
                    <li class="text-theme-colored pull-right flip pr-0">Goal: <span class="font-weight-700">{{ indicator.goal }}</span></li>
                  </ul>
                  <div class="mt-10 clearfix">
                   <a class="btn btn-dark btn-theme-colored btn-flat btn-sm pull-left mt-10" href="#">See Details</a>
                   
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>-->

     <!-- Divider: STATISTICS -->
    <section class="divider parallax layer-overlay overlay-dark-6" data-bg-img="/assets/img/cashew_141.jpg" data-parallax-ratio="0.2">
      <div class="container pt-90 pb-90">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
            <div class="funfact">
              <i class="pe-7s-smile text-white-f1 mt-20 font-48 pull-left flip"></i>
              <div class="ml-60">
                <h2 class="animate-number text-white-f1 mt-0 font-48 line-bottom" data-value="22435" data-animation-duration="2000">0</h2>
                <div class="clearfix"></div>
                <h4 class="font-14 text-white-f1">FAMILIES HELPED</h4>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s">
            <div class="funfact">
              <i class="pe-7s-rocket text-white-f1 mt-20 font-48 pull-left flip"></i>
              <div class="ml-60">
                <h2 class="animate-number text-white-f1 mt-0 font-48 line-bottom" data-value="66" data-animation-duration="2500">0</h2>
                <div class="clearfix"></div>
                <h4 class="font-14 text-white-f1">KM OF ROADS BUILT</h4>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="funfact">
              <i class="pe-7s-add-user text-white-f1 mt-20 font-48 pull-left flip"></i>
              <div class="ml-60">
                <h2 class="animate-number text-white-f1 mt-0 font-48 line-bottom" data-value="2100" data-animation-duration="3000">0</h2>
                <div class="clearfix"></div>
                <h4 class="font-14 text-white-f1">PEOPLES TRAINED</h4>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="funfact">
              <i class="pe-7s-global text-white-f1 mt-20 font-48 pull-left flip"></i>
              <div class="ml-60">
                <h2 class="animate-number text-white-f1 mt-0 font-48 line-bottom" data-value="10000" data-animation-duration="3500">K</h2>
                <div class="clearfix"></div>
                <h4 class="font-14 text-white-f1">TONS OF CASHEW COLLECTED</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: About --
    <section>
      <div class="container pb-50 pb-sm-60">
        <div class="section-content">
          <div class="row">
            
            <div class="col-md-6">
              
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="image-box-thum">
                    <img src="/assets/img/cashew_26.jpg" alt="">
                  </div>
                  <div class="image-box-details text-center p-20 pt-30 pb-30 bg-lighter">
                    <h3 class="title mt-0">LIFFT CASHEW PROJECT</h3>
                    <p class="desc mb-10">The Linking Infrastructure, Finance, and Farms to Cashew (LIFFT-Cashew) is a sub-regional project designed to create a more integrated and durable regional network in the Senegal, The Gambia, and Guinea-Bissau cashew production zone (SeGaBi Zone).  We want to enhance the cultivation of cashews and the processing, and selling of cashew products in the local and international markets.</p>
                    <a href="/about.html" class="btn btn-colored btn-theme-colored">Read More</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h2 class="mt-0 line-height-1 mt-sm-20 line-bottom"><span class="font-weight-300">Get</span> Involved</h2>
              <div class="icon-box p-20 pt-10 pb-10 bg-light">
                <div class="mb-30">
                  <a href="#" class="pull-left mr-20">
                    <strong><i class="pe-7s-way text-theme-colored" style="font-size: 85px;"></i></strong>
                  </a>
                  <a> <h1 class="mt-10">Become  a<strong><span style="font-size: 46px;"> partner</span></strong></h1></a>
                </div>
                <div>
                  <p class="text-gray text-justify">Lorem ipsum dolor sit ametcon ipsum dolor sitsectetu radipisicing elit. Mollitia quasi quinven tore, cumque nulla <a class="font-13" href="page-about1.html">read more...</a></p>
                </div>
              </div>
              <div class="icon-box p-20 pt-10 pb-10 bg-light">
                <div class="mb-30">
                  <a href="#" class="pull-left mr-20">
                    <i class="pe-7s-users text-theme-colored" style="font-size: 65px;"></i>
                  </a>
                  <a> <h1 class="mt-10">Become a<strong><span style="font-size: 35px;"> Volunteer</span></strong></h1></a>
                </div>
                <div>
                  <p class="text-gray text-justify">Lorem ipsum dolor sit ametcon ipsum dolor sitsectetu radipisicing elit. Mollitia quasi quinven tore, cumque nulla consec. Mollitia quasi quinven tore, cumque <a class="font-13" href="page-about1.html">read more...</a></p>
                </div>
              </div>
              <div class="icon-box p-20 pt-10 pb-10 mb-0 bg-light">
                <div class="mb-30">
                  <a href="#" class="pull-left mr-20">
                    <i class="pe-7s-wallet text-theme-colored"></i>
                  </a>
                  <a> <h1 class="mt-10">Join <strong>the project</strong></h1></a>
                </div>
                <div>
                  <p class="text-gray text-justify">Lorem ipsum dolor sit ametcon ipsum dolor sitsectetu radipisicing elit. Mollitia quasi quinven tore, cumque nulla consec. Mollitia quasi quinven tore, cumque <a class="font-13" href="page-about1.html">read more...</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
   
    <!-- Divider: testimonials --
    <section class="divider parallax layer-overlay overlay-dark-9" data-bg-img="/assets/img/cashew_141.jpg" data-parallax-ratio="0.2">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="testimonial">
                <div class="owl-carousel-1col" data-dots="true">
                  <div class="item text-center">
                    <p class="mb-0 font-droid font-22 text-white-f1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel esse quibusdam nihil a necessitatibus natus, voluptas fugiat officiis ipsa earum unde sit consequatur. Maxime harum ab pariatur obcaecati ut eos voluptatum.</p>
                    <i class="fa fa-quote-left text-gray-lightgray font-42 mt-20"></i>
                    <a class="mt-20 display-block" href="#">
                      <img alt="" src="/assets/img/story_2.jpg" style="width: 70px;" class="p-5 border-2px">
                    </a>
                    <h4 class="service-box-title font-weight-800 text-white-f1">Adama</h4>
                    <span class="font-14 font-weight-600 text-white-f1">Cashew Farmer</span>
                  </div>
                  <div class="item text-center">
                    <p class="mb-0 font-droid font-22 text-white-f1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel esse quibusdam nihil a necessitatibus natus, voluptas fugiat officiis ipsa earum unde sit consequatur. Maxime harum ab pariatur obcaecati ut eos voluptatum.</p>
                    <i class="fa fa-quote-left text-gray-lightgray font-42 mt-20"></i>
                    <a class="mt-20 display-block" href="#">
                      <img alt="" src="/assets/img/story_5.jpg" style="width: 70px;" class="p-5 border-2px">
                    </a>
                    <h4 class="service-box-title font-weight-800 text-white-f1">Babacar</h4>
                    <span class="font-14 font-weight-600 text-white-f1">Cashew investor</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>-->
    <!-- Divider: Google Map -->
    
  

</div>